modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18723
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
MONGODB_URI = "mongodb+srv://nex0s_a1:nex0s_a1@cluster0.ccrp1hc.mongodb.net/NEX0S_DB"
ADMIN_EMAIL = "nexus.admin@gmail.com,fady.basem347@gmail.com"
GEMINI_API_KEY = "AIzaSyCOqPgDxB9whU5GIC2zYTUIyo3omVlv8PQ"
